# Ignore node_modules to avoid uploading huge files (EAS will install them)
node_modules

# Ignore backend folder since it's not needed in frontend build
../backend
backend

# Expo caches
.expo
.expo-shared
dist
build

# Git metadata
.git
.gitignore

# Logs and temp files
*.log
*.tmp
*.tsbuildinfo

# Any IDE/project files
.vscode
.idea

# System files
.DS_Store
Thumbs.db